# Server Configuration
HOST=0.0.0.0
PORT=8000
DEBUG=false

# Database Configuration
DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/pepti_wiki
DATABASE_NAME=pepti_wiki

# Qdrant Configuration
QDRANT_URL=https://827cd0ad-0136-428d-aa69-a0086eb93e7d.eu-west-1-0.aws.cloud.qdrant.io:6333
QDRANT_API_KEY=your_qdrant_api_key_here
PEPTIDE_COLLECTION=peptides

TAVILY_API_KEY=
# CORS Configuration
ALLOWED_HOSTS=["*"]
